*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#home-page{
    height: 100%;
    background-color: #27374D;
}


/*.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo{
    font-size: 2rem;
    font-weight: 600;
    color: #19A7CE;
}
.header ul{
    display: flex;
    gap: 4rem;
}

.header ul li{
    list-style: none;
}

.header ul li a, .logout{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: #19A7CE;
}

.header ul li a:hover, .logout{
    color: #EEEEEE;
}

.navs ul li a, .logout{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: #27374D;
}

.navs ul li a:hover, .logout{
    color: #19A7CE;
}*/
.header{
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

.header .logo{
    font-size: 2rem;
    font-weight: 600;
    color: #19A7CE;
}

.header i{
    margin-right: 10px;
}


#navbar ul{
    display: flex;
    gap: 4rem;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a, .logout{
    position: relative;
   font-weight: 300;
   font-size: 0.9rem;
   text-decoration: none;
   color: #19A7CE;
   letter-spacing: 1px;
   transition: 0.5s ease;
   text-transform: uppercase;
}
#navbar ul li a:hover{
    color: #EEEEEE;
}

#navbar ul li a .active{
    color: #EEEEEE;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #19A7CE;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    #home-page{
        overflow: hidden;
        height: 100vh;
    }
    
    .home-container{
        padding: 2rem;
    }
    .burger-menu {
        display: flex;
        z-index: 1;

    }

    .logo{
        display: none;
    }

    #navbar ul {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(2, 36, 60, 0.8);
        padding: 20px;
        box-sizing: border-box;
        z-index: 999;
    }

    #navbar ul.show {
        display: flex;
    }

    #navbar ul li {
        margin-bottom: 10px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .burger-menu {
        display: flex;
        z-index: 1;

    }

    .logo{
        display: none;
    }

    #navbar ul {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(2, 36, 60, 0.8);
        padding: 20px;
        box-sizing: border-box;
    }

    #navbar ul.show {
        display: flex;
    }

    #navbar ul li {
        margin-bottom: 10px;
    }

}


#about-page{
    height: 100%;
}

.about-container{
    padding: 5rem 10rem;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text{
    width: 50%;
}

.about-text .title{
    font-size: 5rem;
    margin-bottom: 10px;
    color: #27374D;
}

.about-text .sub-title, .description{
    font-size: 1.3rem;
    font-weight: 500;
    color: #27374D;
    text-align: left;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}


.square{
    position: relative;
    height: 550px;
    width: 550px;
    background: #19A7CE;
    border-radius: 50%;
    overflow: hidden;
}

.square img{
   width: 100%;
}

@media screen and (max-width: 768px){
    #about-page{
        height: 100%;
        overflow: hidden;
    }
    .about-container{
        padding: 2rem;
    }

    .about-content{
        padding: 5rem 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    
    .about-text{
        width: 100%;
    }
    
    .about-text .title{
        font-size: 3rem;
        margin-bottom: 10px;
        color: #27374D;
    }
    
    .about-text .sub-title, .description{
        font-size: 1rem;
    }
    
    
    .square{
      width: 350px;
      height: 350px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    #about-page{
        height: 100%;
        overflow: hidden;
    }
    .about-container{
        padding: 2rem;
    }

    .about-content{
        padding: 5rem 0;
    }
    
    .about-text{
        width: 100%;
    }
    
    .about-text .title{
        font-size: 5rem;
        margin-bottom: 10px;
        color: #27374D;
    }
    
    .about-text .sub-title, .description{
        font-size: 1.1rem;
    }
    

    .square{
        display: none;
    }
}



@media (min-width: 769px){
    .home-container, .about-container, .profile-container{
        padding: 2rem 5rem;
    }
    .about-content{
        padding: 4rem 0;
    }

    .profile-content{
        padding: 4rem 0;
    }
}

@media only screen and (min-width: 1024px){
    .home-container, .about-container, .profile-container{
        padding: 2rem 8rem;
    }

    .about-content{
        padding: 5rem 0;
    }

    .profile-content{
        padding: 3rem 0;
    }
}