*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior:smooth;
}

body{
    background: #27374D;
}

#home-page{
    height: 100%;
}

.home-container{
    padding: 2rem 10rem;
}

/*.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo{
    font-size: 2rem;
    font-weight: 600;
    color: #19A7CE;
}
.header ul{
    display: flex;
    gap: 4rem;
}

.header ul li{
    list-style: none;
}

.header ul li a, .logout{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: #19A7CE;
}

.header ul li a:hover, .logout{
    color: #EEEEEE;
}

.navs ul li a, .logout{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: #27374D;
}

.navs ul li a:hover, .logout{
    color: #19A7CE;
}*/
.header{
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

.header .logo{
    font-size: 2rem;
    font-weight: 600;
    color: #19A7CE;
}

.header i{
    margin-right: 10px;
}


#navbar ul{
    display: flex;
    gap: 4rem;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a, .logout{
    position: relative;
   font-weight: 300;
   font-size: 0.9rem;
   text-decoration: none;
   color: #19A7CE;
   letter-spacing: 1px;
   transition: 0.5s ease;
   text-transform: uppercase;
}
#navbar ul li a:hover{
    color: #EEEEEE;
}

#navbar ul li a .active{
    color: #EEEEEE;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #19A7CE;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    #home-page{
        height: 100vh;
    }
    
    .home-container{
        padding: 2rem;
    }
    .burger-menu {
        display: flex;
        z-index: 1;

    }

    .logo{
        display: none;
    }

    #navbar ul {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(2, 36, 60, 0.8);
        padding: 20px;
        box-sizing: border-box;
    }

    #navbar ul.show {
        display: flex;
    }

    #navbar ul li {
        margin-bottom: 10px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1023px){

    .home-container{
        padding: 3rem 2rem;
    }

    .burger-menu {
        display: flex;
        z-index: 1;

    }

    .logo{
        display: none;
    }

    #navbar ul {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(2, 36, 60, 0.8);
        padding: 20px;
        box-sizing: border-box;
    }

    #navbar ul.show {
        display: flex;
    }

    #navbar ul li {
        margin-bottom: 10px;
    }

}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.background{
    margin-top: 5rem;
    width: 80vw;
    height: 60vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.title{
    color: #19A7CE;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 0 6px 4px rgba(17, 16, 16, 0.4);
}



@media screen and (max-width: 768px){
    .home-content{
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .blog-1, .blog-2{
        width: 100%;
    }
    

    .title{
        font-size: 1rem;
    }
    
    .paragraph{
        margin-top: 0.8rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .home-content{
        margin: 2rem 3rem;
        display: flex;
        flex-direction: column;
    }
}




#blog-section{
    height: 100%;
    background-color: #EEEEEE;
}

.blog-container{
    padding: 5rem 10rem;
}


.blog-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.images{
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

.image{
    width: 100%;
}

.image-paragraph{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
}

/* .image-last{
    width: 100%;
} */

.image-paragraph p{
    line-height: 1.5;
}


@media screen and (max-width: 768px){

    #home-page{
        height: 80vh;
    }

    .hero-container{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    
    .background{
        margin-top: 5rem;
        width: 80vw;
        height: 40vh;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .blog-container{
        padding: 5rem 1rem;
    }
    
    .images{
        display: flex;
        flex-direction: column;
    }

    .image-paragraph{
        flex-direction: column;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
    .background{
        margin-top: 5rem;
        width: 90vw;
        height: 40vh;
    }

    .hero-container{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .blog-container{
        padding: 5rem 1rem;
    }

    .image-paragraph{
        flex-direction: column;
    }
    
}